:host { display:block; position:absolute; inset:0; overflow:hidden; }
ion-tabs { position:absolute; inset:0; height:100%; overflow:hidden; background:var(--ion-background-color); }
ion-tab-bar { position:relative; z-index:10; flex:0 0 auto; }
